<div class="cotainer">
    <div class="row" style="width:90%; margin:1% auto;">
      <div class="col-md-2 offset-md-1">
        <h5 style="background-color:#FFF8DC ">&emsp;ジャンル一覧</h5>
      </div>
    </div>
  　<div class="row">
    　<div class="col-md-10 offset-md-1">
    　   <%= flash[:warning] %><br>
     　　<%= form_with model: @genre, url: admins_genres_path, local:true do |f| %>
      　<div class="form-group">
        　　<th>ジャンル名</th>
       　　<%= f.text_field :name, class:"col-xs-5", placeholder:"ジャンル名" %>
       　　<%= f.submit '新規登録', class:"btn btn-success"%>
      　</div>
     　　<% end %>
    　</div>
    </div>
  </div>


  <div class="row">
   <div class="col-md-4 offset-md-1">
   <%= render "admins/genres/genre_list", genres: @genres %>
  </div>

</div>
