<div class="cotainer">
    <div class="row" style="width:90%; margin-top:5%; auto;">
      <div class="col-md-11 offset-md-1">
        <h5 style="background-color:#FFF8DC ">&emsp;ジャンル一覧</h5>
      </div>
  　   <div class="col-md-10 offset-md-1">
     　  <%= form_with model: @genre, url: admins_genres_path, local:true do |f| %>
        　<th>ジャンル名</th>
     　  　<%= f.text_field :name, class:"col-xs-5", placeholder:"ジャンル名" %>
     　  　<%= f.submit '新規登録', class:"btn btn-success"%>
  　 　   <% end %>
        <p class="text-danger">&emsp;<%= flash[:warning] %></p>
  　   </div>
      <div class="col-md-4 offset-md-1">
        <%= render "admins/genres/genre_list", genres: @genres %>
      </div>
    </div>
</div>
