<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-4 bg-light w-25 text-center">配送先登録/一覧</h2>
      <p class="text-danger">&emsp;<%= flash[:warning] %></p>
      <%= form_with model: @address, url: addresses_path, local:true do |f| %>
      <form>
        <div class="form-group row mt-4">
          <label class="col-sm-2 col-form-label">郵便番号<br>(ハイフンなし)</label>
          <div class="col-sm-10 mt-3">
            <%= f.text_field :postal_code, class:"form-control w-25" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">住所</label>
          <div class="col-sm-10">
            <%= f.text_field :address, class:"form-control w-25" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">宛名</label>
          <div class="col-sm-6">
            <%= f.text_field :name, class:"form-control w-25" %>
          </div>
          <%= f.submit "新規登録", class:"btn btn-success" %>
        </div>
      </form>
      <% end %>
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to "編集する", edit_address_path(address), class:"btn btn-success mr-4" %>
              <%= link_to "削除する", address_path(address), class:"btn btn-danger", method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
 </div>