<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-4 bg-light w-25 text-center">会員一覧</h2>
      <table class="table text-center">
        <thead class="bg-warning">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admins_customer_path(customer.id) do %>
              <%= customer.full_name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_daleted == false %>
               <p class="text-success">有効</p>
              <% elsif customer.is_daleted == true %>
               <p>退会</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>