<h2>商品編集</h2>
  <%= form_with model:@item, url: admin_item_path(@item.id),local:true do |f| %>
    <table>
      <tr>
        <th><%= f.label :"商品画像" %></th>
        <tr><%= f.attachment_field :image, class: "image_id" %></tr>
      </tr>
      <tr>
        <th><%= f.label :"商品名" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :"商品説明"%></th>
        <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
        <th><%= f.label :"ジャンル"%></th>
        <td>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name , prompt: "-- 選択してください --") %>
        </td>
      </tr>
     <tr>
        <th><%= f.label :"税抜価格" %></th>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <th><%= f.label :"販売ステータス" %></th>
        <td>
        <%= f.label :is_active, "販売中" %>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "販売停止中" %>
        <%= f.radio_button :is_active, false %>
        </td>
      </tr>
    </table>
    <%= f.submit "変更内容保存", class: "btn btn-success" %>
    <% end %>