<h2>注文確認画面</h2>
<div class="col-md-10 offset-md-1">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>数量</th>
         <th>小計</th>
        </tr>
      </thead>
      <% @sum = 0 %>
      <% @cart_item.each do |cart_item| %>
      <tbody>
        <td><%= cart_item.item.name %></td>
        <td><%= (cart_item.item.price * 1.08).round %></td>
        <td><%= cart_item.amount.to_i %></td>
        <td><%= (cart_item.item.price * 1.08 * cart_item.amount).round %></td>
        <% @sum += (cart_item.item.price * 1.08 * cart_item.amount).round %>
      <% end %>

    </table>
    <table>
      <thead>
        <tr>
         <th>送料</th>
         <th><%= @order.shipping_cost %></th>
         <th>商品合計</th>
          <th><%= @sum %></th>
          <% @order.total_payment = 800 + @sum %>
           <th>請求金額</th>
          <th><%= @order.total_payment %></th>

       </tr>
     </thead>
    </table>

    <div>
        <h3>支払方法</h3>
        <%= @order.payment_method_i18n %>

    </div>
    <div>
        <h3>お届け先</h3>
        <%= @order.postal_code %>
        <%= @order.address %><br >
        <%= @order.name %>
    </div>

    <%= form_with model: @order, url: orders_path, method: :POST, local: true do |f| %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :total_payment %>
      <%= f.hidden_field :shipping_cost %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :status %>
    <div><%= f.submit "注文を確定する", class: "btn btn-success" %></div>
    <% end %>

  </div>