<div class="cotainer">
    <div class="row" style="width:90%; margin:0 auto;">
      <div class="col-md-2 offset-md-1">
        <br >
        <h5 style="background-color:#FFF8DC ">&emsp;注文情報確認</h5>
      </div>
    </div>
　　<div class="row" style="width:90%; margin:0 auto;">
      <div class="table-responsive col-md-8">
        <table class="table table-bordered ">
          <thead class="thead-light">
            <tr>
             <th>商品名</th>
             <th>単価(税込)</th>
             <th>数量</th>
             <th>小計</th>
            </tr>
          </thead>
          <% @sum = 0 %>
          <% @cart_item.each do |cart_item| %>
          <tbody>
            <td>
             <%= attachment_image_tag(cart_item.item, :image, size: "80x70") %>
             <%= cart_item.item.name %>
            </td>
            <td><%= (cart_item.item.price * 1.08).round %></td>
            <td><%= cart_item.amount.to_i %></td>
            <td><%= (cart_item.item.price * 1.08 * cart_item.amount).round %></td>
            <% @sum += (cart_item.item.price * 1.08 * cart_item.amount).round %>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="table-responsive col-md-4">
        <table class="table table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>送料</th>
              <td><%= @order.shipping_cost %></td>
            </tr>
            <tr>
              <th>商品合計</th>
              <td><%= @sum %></td>
            </tr>
            <tr>
              <% @order.total_payment = @order.shipping_cost + @sum %>
              <th>請求金額</th>
              <td><%= @order.total_payment %></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="row" style="width:90%; margin:2% auto;">
      <strong>支払方法</strong>&emsp;
      <%= @order.payment_method_i18n %>
    </div>
    <div class="row" style="width:90%; margin:2% auto;">
      <strong>お届け先</strong>&emsp;
      <%= @order.postal_code %>&nbsp;
      <%= @order.address %><br >
      &emsp;&nbsp;<%= @order.name %>
    </div>

    <%= form_with model: @order, url: orders_path, method: :POST, local: true do |f| %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :total_payment %>
      <%= f.hidden_field :shipping_cost %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :status %>

    <div class="text-center" style="width:90%; margin:2% auto;">
    <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
    <% end %>

  </div>