<h2>注文履歴詳細</h2>
<h5>注文情報</h5>
<table class="table table-bordered ">
		<tr>
			<th>注文日</th>
			<td><%= @order.created_at.strftime('%Y年%m月%d日') %></td>
		</tr>
		<tr>
			<th>配送先</th>
			<td>
				〒<%= @order.postal_code %><br>
				<%= @order.address %><br>
				<%= @order.name %>様
			</td>
		</tr>
		<tr>
			<th>支払い方法</th>
			<td><%= @order.payment_method_i18n %></td>
		</tr>
		<tr>
			<th>ステータス</th>
			<td><%= @order.status_i18n %></td>
		</tr>
</table>

<h5>請求情報</h5>
<table class="table table-bordered ">
      <thead>
        <tr>
         <th>送料</th>
         <th><%= @order.shipping_cost %></th>
         <th>商品合計</th>
          <th><%= @order.total_payment - @order.shipping_cost %></th>
           <th>請求金額</th>
          <th><%= @order.total_payment %></th>
        </tr>
     </thead>
</table>

<h5>注文内容</h5>
<table class="table table-hover table-inverse">
      <thead>
        <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>個数</th>
         <th>小計</th>
        </tr>
      </thead>
      <% @sum = 0 %>
      <% @order_details.each do |order_detail| %>
      <tbody>
        <td><%= order_detail.item.name %></td>
        <td><%= (order_detail.item.price * 1.08).round %></td>
        <td><%= order_detail.amount.to_i %></td>
        <td><%= (order_detail.item.price * 1.08 * order_detail.amount).round %></td>
        <% @sum += (order_detail.item.price * 1.08 * order_detail.amount).round %>
      <% end %>
      </tbody>
    </table>
<hr>
<%= link_to orders_path(id: @order.customer_id) do %>
	<span class="glyphicon glyphicon-chevron-left">注文一覧に戻る</span>
<% end %>
</div>