<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>注文履歴詳細</h2>
      <table class="table table-borderless">
       <tr>
        <th>購入者</th>
        <td><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.customer.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model: @order, url: admins_order_path(@order)  do |f| %>
          　<%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]},style: "margin-top:10px;#" %><!--ステータス選択 -->
          <%= f.submit "更新" ,class: "btn btn-primary btn-sm" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class=" col-md-8">
      <table class="table table-hover table-inverse table-bordered thead-light">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
          </thead>
        <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= ((order_detail.price)*(order_detail.amount)) %> </td>
            <%= form_with model: order_detail, url: admins_order_detail_path(order_detail) do |f| %>
            <td><%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %></td>
            <td><%= f.submit "更新" ,class:"btn btn-primary btn-xs" %></td>
            <% end %>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 d-flex align-items-end">
      <table class="table table-hover table-inverse table-borderless">
        <tr>
          <td>商品合計</td>
            <% @sum = 0 %>
            <% @order_details.each do |order_detail| %>
              <% @sum += ((order_detail.price)*(order_detail.amount)) %>
            <% end %>
            <td><%= @sum %>円</td>
          </td>
          </td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td><%= (@sum+@order.shipping_cost) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>