<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container">


          <nav class="navbar-brand p-2">
            <!--サイトタイトルはロゴ画像に差し替え予定-->
              <%= link_to root_path do %>
              <%= image_tag "Nagano-cake-logo.png", :size => "110x110" %>
              <% end %>
          </nav>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li><input name="search" placeholder="search　🔍"></li>
              <% if customer_signed_in? %>
                <li id="youkoso">　　ようこそ、<%= current_customer.last_name %>さん！</li>
              <% end %>
            </ul>

            <ul class="navbar-nav ml-auto">
              <!--顧客ログイン時-->
              <% if customer_signed_in? %>
                <li><%= link_to " マイページ", my_page_path, class: "btn btn-warning mr-3" %></li>
                <li><%= link_to " 商品一覧", items_path,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " カート", cart_items_path,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " ログアウト", destroy_customer_session_path, method: :delete ,class: "btn btn-warning mr-3"%></li>
　　　　　　　<!--管理者ログイン時-->
              <% elsif admin_signed_in? %>
                <li><%= link_to " 商品一覧", admins_items_path,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " 会員一覧", admins_customers_path,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " 注文履歴一覧", admins_root_path,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " ジャンル一覧", admins_genres_path,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " ログアウト", destroy_admin_session_path, method: :delete ,class: "btn btn-warning mr-3"%></li>
              <!--ログイン前-->
              <% else %>
                <li><%= link_to " About", about_path ,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " 商品一覧", items_path ,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " 新規登録", new_customer_registration_path ,class: "btn btn-warning mr-3"%></li>
                <li><%= link_to " ログイン", new_customer_session_path ,class: "btn btn-warning mr-3"%></li>
              <% end %>
            </ul>
          </div>

        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer class="fixed-bottom">
      <p class="text-right">© All rights reserved by チーム実家.</p>
    </footer>
  </body>
</html>
